git+https://github.com/News-Teller/media-laboratory@v2.0.0#egg=dataviz&subdirectory=dataviz
gunicorn==20.0.4
gevent==21.1.2
dash==1.19.0
jupyter_dash==0.4.0
numpy==1.19.0
pymongo==3.11.2
flask_caching==1.9.0
dill==0.3.3
flask_cors==3.0.10
dash_bootstrap_components==0.11.3
dash-simple-map==0.0.3
